/*
  Arthur Baldwin CMSC 405 6380 Project 3 02/19/2023
  This file contains the css used in the submission for the third project.
  It sets the canvas at a fixed position, and has a minimum size of 640x480
  for the 3d scene. It uses absolute positioning to place the div containing 
  the controls over the canvas and in the bottom left corner.
*/

canvas {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 640px;
  min-width: 480px;
}

div {
  position: absolute;
  background-color: #e4e6eb;
  border-radius: 4px;
  padding: 0.4em;
  margin: 0.2em;
  z-index: 99;
  bottom: 2em;
  left: 2em;
}

.bold {
  font-weight: bolder;
}